services:
  - type: web
    name: crm-api
    env: node
    plan: free
    autoDeploy: true
    healthCheckPath: /swagger
    buildCommand: npm run render-build
    startCommand: npm run start:prod
    envVars:
      - key: NODE_VERSION
        value: 22.11.0
      - key: NODE_ENV
        value: production
      - key: DATABASE_URL
        sync: false
      - key: JWT_SECRET
        generateValue: true
      - key: JWT_EXPIRES_IN
        value: 1h
      - key: SMTP_HOST
        value: smtp.gmail.com
      - key: SMTP_PORT
        value: "587"
      - key: SMTP_SECURE
        value: "false"
      - key: SMTP_USER
        sync: false
      - key: SMTP_PASS
        sync: false
      - key: MAIL_FROM
        sync: false
